/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%; /* Set initial width to fill viewport */
  height: 100%; /* Set initial height to fill viewport */
}

header {
  background-color: #000; /* Black background color */
  color: #fff;
  padding: 20px 0; /* Add padding for the header */
  margin-bottom: 0;
  text-align: center;
  position: fixed; /* Fix the header position */
  top: 0; /* Position the header at the top */
  width: 100%; /* Ensure header spans the full width */
  z-index: 1000; /* Set a high z-index to ensure it's on top of other content */
}

header h1 {
  margin: 0;
}

.content-wrapper {
  padding-top: 60px; /* Add padding to content to accommodate fixed header */
}

main {
  overflow-y: auto; /* Add scrollbar if content exceeds height */
  background-color: #ffe;
}

section {
  margin-top: 0;
  margin-bottom: 70vh;
  background-color: #000;
  padding: 20vh;
}

section h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

section h3 {
  color: #fff;
  width: 100%;
  height: 50%;
  text-align: center;
}

section ul {
  list-style-type: none;
  padding: 0;
}

section ul li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
